body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* NAVAR SECTION STYLE FROM HERE */

.logo {
    display: flex;
    align-items: center;
    gap: 0 20px;
}

.logo-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #0B0223;

}

#G {
    color: rgb(201, 90, 108);
}

.logo img {
    width: 86.041px;
    height: 40px;
}

nav {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 240px;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul li {
    list-style: none;
    padding: 0 20px;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 500;
}

.navbar ul a {
    text-decoration: none;
    color: #3C354F;
}

.icons {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 15px 30px;
    text-align: center;
}

.fa-tiktok,
.fa-youtube {
    font-size: 25px;
    text-align: center;
    padding: 5px;
}

/* Banner section  style from  here */
.banner-section {
    margin: 0 240px;
}

.banner {
    border: 1px solid orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-1 {
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
}

.title-2 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5.9rem;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
}

.banner-description {
    color: #534C64;
    font-size: 1.12rem;
    font-weight: 500;
}

.button {
    margin-top: 40px;
    display: flex;
    gap: 24px;
}

.primary-btn {
    border: none;
    color: white;
    padding: 22px 40px;
    background-color: #ff42a5;
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 48px;
}

.second-btn {
    border: none;
    color: white;
    padding: 22px 40px;
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 48px;
    background-color: #4EC5F7;
}

.banner-image img {
    width: 100%;
}

/* gamers section style from here */

.gamers-container {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
}

.gamers-section {
    margin: 0 240px;
    display: flex;
    gap: 0 30px;
    align-items: center;
    justify-content: space-between;

}

.gamers-image img {
    margin: 55px 0px;
}

.gamers-details {
    text-align: right;
}

.gamers-title {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 24px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gamers-description {
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 30px;
    padding-bottom: 20px;
}

.text {
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
    padding-top: 20px;
}

.text-2 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    padding-top: 10px;
}